.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: min-content auto;
  grid-template-areas:
    "header header"
    "nav main";
}

.header {
  padding-left: var(--mantine-spacing-sm);
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
  grid-area: header;
  border-bottom-style: solid;
  border-bottom-width: var(--mantine-radius-xs);
  border-bottom-color: var(--mantine-color-gray-0);
}

.nav {
  grid-area: nav;
  border-right-style: solid;
  border-right-width: var(--mantine-radius-xs);
  border-right-color: var(--mantine-color-gray-0);
}

.main {
  margin-top: var(--mantine-spacing-xs);
  margin-left: var(--mantine-spacing-sm);
  grid-area: main;
}
